
.DS_Store
.ipynb_checkpoints/sudoku-checkpoint.ipynb
eightqueens revisited/resources/constraint_propagation.png
eightqueens revisited/.ipynb_checkpoints/eightqueensrevisited-checkpoint.ipynb
eightqueens revisited/eightqueensrevisited.ipynb
